body {
    margin: 0;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    background: linear-gradient(135deg, #b3e1fa 0%, #f5f3e7 100%);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background: rgba(255,255,255,0.85);
    text-align: center;
    padding: 2rem 0 1rem 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 880px;
    border-radius: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav {
    margin-bottom: 1rem;
}
nav a {
    color: #1d3557;
    text-decoration: none;
    font-weight: 700;
    margin: 0 1.2rem;
    font-size: 1.1rem;
    transition: color 0.3s;
}
nav a:hover {
    color: #e63946;
}
#countdown {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.85);
  padding: 1rem 2rem;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 320px;
  margin-left: 280px;
  margin-top: 30px;
  
  color: #1d3557; /* a fejléchez hasonló szín */
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
#countdown div {
  min-width: 60px;
}
#szoveg {
    margin-left: 210px;
    font-size: 36px;
}


.scene {
    max-width: 880px;
    position: relative;
    width: 90vw;
    height: 25vh;
    margin: 2rem auto;
    background: linear-gradient(180deg, #eef6f9 70%, #b8d8b3 100%);
    border-radius: 18px;
    box-shadow: 0 2px 12px rgba(60,60,60,0.12);
    overflow: hidden;
}
.telapo {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 180px;
}
.szarvas, .szarvas2 {
    position: absolute;
    bottom: 40px;
    right: 50px;
    width: 80px;
}
.szarvas2 {
    right: 10px;
    width: 58px;
}

.content {
    padding: 2rem 3vw;
    background: rgba(255,255,255,0.65);
    margin: 2rem auto;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(160,160,160,0.13);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.7rem;
    color: #134e5e;
}
h2 {
    color: #e63946;
    font-size: 2rem;
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #eaeaea;
    color: #22333b;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
    width: 100%;
    height: 100%;
}
.gallery-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.gallery-row img {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    width: 800px;
    height: auto;
}
